/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #cc241d !default;
$red-color-dark:      #9d0006 !default;
$orange-color:        #d65d0e !default;
$blue-color:          #458588 !default;
$blue-color-dark:     #076678 !default;
$cyan-color:          #689d6a !default;
$light-cyan-color:    #8ec07c !default;
$green-color:         #79740e !default;
$green-color-lime:    #b8bb26 !default;
$green-color-dark:    #427b58 !default;
$green-color-light:   #ebdbb2 !default;
$green-color-bright:  #8ec07c !default;
$purple-color:        #b16286 !default;
$light-purple-color:  #d3869b !default;
$pink-color:          #d3869b !default;
$pink-color-light:    #f2e5bc !default;
$yellow-color:        #d79921 !default;

$grey-color:          #7c6f64 !default;
$grey-color-light:    #ebdbb2 !default;
$grey-color-dark:     #282828 !default;
$grey-900:            #32302f !default;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     #f2e5bc !default;
$code-bg-color-dark:      #3c3836 !default;

// Typography
$terminal-font-family:    "Courier Prime", "Nimbus Mono PS", "Courier New", monospace !default;
